<head>
   <!--http://localhost:63342/HowToBeAHero-WikiToPdf/template/-->
    <link rel="stylesheet" href="../template/style.css">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+SC:700|Open+Sans:400,700" rel="stylesheet">
    <meta charset="UTF-8">
</head>
<body>
    <!-- a new page for each h1 -->
    <div class="page" id="template" >
        <div class="logo">
            <img id="logo-img" src="../template/images/LogoHD_300dpi.png" alt="">
        </div>
        <div class="title">
            <!--Title From Query Params goes here-->
        </div>
        <div class="content">
            <!--Parsoid HTML goes here-->
        </div>

        <div class="footer">
            <img src="../template/images/Footerimage.png" alt="" id="footer-img">
        </div>
    </div>
</body>